# Application Security Passcode (Default: 2004)
VITE_APP_ACCESS_CODE=2004

# Hardlocked Admin Recovery Credentials
VITE_ADMIN_RECOVERY_EMAIL=ashapulokesh32@gmail.com
VITE_ADMIN_RECOVERY_MOBILE=+91 6301451462

# Google Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCTkRJCNAmlRKber7wv8s4gQKvIHHnjnb4
VITE_FIREBASE_AUTH_DOMAIN=satyasaiconstructions-f5713.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=satyasaiconstructions-f5713
VITE_FIREBASE_STORAGE_BUCKET=satyasaiconstructions-f5713.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=666173449262
VITE_FIREBASE_APP_ID=1:666173449262:web:e9427ca30fed0d4da12bbf
VITE_FIREBASE_MEASUREMENT_ID=G-E6DRNB4HGR
